<div class="bio">
    <img src="/assets/img/photo_identite.jpeg" alt="" width="200" loading="lazy" />
    <p>Animé depuis toujours par le désir de faire de l’image, Bertrand se lance pour la première fois dans la réalisation à l’âge de 17 ans. Il gagne aussitôt plusieurs prix pour ses courts-métrages et il est notamment sélectionné pour l’ouverture du Festival de la francophonie à Washington en 2010.
      Il crée durant ses études le collectif InDaPROD. Au fil des années qui suivent il fait ses armes et se perfectionne en réalisant de nombreux clips pour différents artistes, ainsi que des documentaires sur la culture urbaine (L.A.xagone, Smells Like Hip-Hop…).
      Il est sélectionné en 2011 aux Young Directors Awards à Cannes pour son film pour l’ONG Urgence Darfour. En 2013, il réalise la série «Les Oh-Oh de Nora» pour la nouvelle émission de Canal+, Le Before.
      Il enchaîne à côté différentes réalisations publicitaires pour des marques telles que Peugeot, Biotherm, Lancôme, Nespresso ou encore Burger King…
      Et continue en parallèle de faire ses armes dans le clip en réalisant pour des artistes comme Louane, Zazie, Joris Delacroix, Grems, CharlElie Couture…
      En faisant du lifestyle son domaine de prédilection, il capte la vie et la retranscrit avec poésie. Pour lui, réaliser implique de se renouveler pour surprendre, être créatif, audacieux, aller au-delà vers la nouveauté.</p>
</div>
