<div class="bio">
    <img src="/assets/img/photo_identite.jpeg" alt="" width="200" loading="lazy" />
    <p>Bertrand has been a French director for almost twenty years. He notably founded the collective and the production company InDaPROD. He has worked in the music industry and collaborated with major French and international artists. He has also directed numerous award-winning advertising campaigns, Hip-hop documentaries, and television series. He explores life with poetry and truth, always in search of the unexpected and the new.</p>
</div>
