<div class="bio">
    <img src="/assets/img/photo.jpg" alt="" />
    <p>Bertrand explores life with poetic flair and truth - always seeking the unexpected and the unknown. He is a French director and has worked in the industry since 2003. He founded InDaPROD collective, an original Parisian production company.  He successfully worked in the music industry collaborating with major French and international artists (ALB, Peter Peter, Sage, Louane…).  He has produced award-winning advertising campaigns (Urgence Darfour, Peugeot, Lancôme, Nespresso…), documentaries on Hip-hop, as well as television series.</p>
</div>
