<header id="header">
    <a href="/" class="home-title">Bertrand Touchard</a>
    <nav class="main-nav">
        <ul>
            <li><a href="/music">Music</a></li>
            <li><a href="/ads">Ads</a></li>
      </ul>
    </nav>
    <nav class="second-nav">
        <ul>
            <li><a href="/all-works">All Works</a></li>
        </ul>
    </nav>
    <nav class="third-nav">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="mailto:berttouchard@gmail.com">Contact</a></li>
            <li><a href="https://www.instagram.com/bertrand_touchard/" target="_blank"><img src="/assets/img/instagram-50.png" width="20" /></a></li>
        </ul>
    </nav>
    <label for="toggle">☰</label>
    <input type="checkbox" id="toggle" />
</header>
