body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier Prime', monospace;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #000;
    padding: 3em 4em;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 2em;
}

h2 {
    font-size: 1.4em;
    padding-bottom: 1em;
}

/* Menu */
header label,
header #toggle {
    display: none;
}

.home-title,
nav a {
    text-transform: uppercase;
}

nav a:hover {
    color: #99989d
}

.home-title,
.main-nav,
.second-nav {
    float: left;
}

.home-title {
    width: 20%;
    font-size: 1.2em;
}

.main-nav {
    width: 55%;
}

.main-nav li, .second-nav li {
    float: left;
    padding-left: 3em;
}

.second-nav {
    width: 15%;
}

/* Main content */
main {
    position: relative;
    padding-top: 10em;
    width: 1400px;
    margin: 0 auto;
}

.main-video {
    width: 100%;
}

/* Footer */
footer {
    position: relative;
    padding: 5em;
}

.bio img {
    float: left;
    margin-right: 2em;
}

.bio p {
    line-height: 1.4;
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;

}

.gallery > div {
    flex-basis: 320px; /* width: 350px; */
    position: relative;
    cursor: pointer;
    top: -50%;
}

.gallery div img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

.gallery p {
    position: relative;
    top: -50%;
    text-transform: uppercase;
    text-align: center;
}

.gallery::after {
    content: "";
    flex-basis: 370px;
}

/* Responsive */
@media all and (max-width: 991px) {
    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked {
        display: block;
    }
}
