body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier Prime', monospace;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 3em 0;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 2em;
}

h2 {
    font-size: 1.4em;
    padding: 2em 0;
}

/* Menu */
header label,
header #toggle {
    display: none;
}

.home-title,
nav a {
    text-transform: uppercase;
}

nav a:hover {
    color: #99989d
}

.home-title,
.main-nav,
.second-nav,
.third-nav {
    float: left;
}

.home-title {
    width: 20%;
    font-size: 1.2em;
    padding-left: 1.5em;
}

.main-nav li,
.second-nav li ,
.third-nav li {
    float: left;
    padding-left: 3em;
    font-size: 1.2em;
}

.main-nav {
    width: 45%;
    padding-left: 6em;
}

.second-nav {
    width: 15%;
}

.third-nav {
    width: 20%;
}

/* Main content */
main {
    position: relative;
    width: 100%;
    margin: 0 auto 3em;
}

.main-video {
    width: 100%;
}

/* Gallery */
.gallery {
    padding-top: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
}
.gallery-home {
    padding-top: 1em;
}

.gallery > div {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.gallery div img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.gallery p {
    position: relative;
    top: -50%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
}

.gallery a:hover {
    background-color: #000;
    display: block;
}

.gallery::after {
    content: "";
    flex-basis: 370px;
}

/* Bio */
.bio {
    padding-top: 10em;
    display: flex;
    align-items: center;
}
.bio img {
    float: left;
    width: 50%;
}

.bio p {
    line-height: 1.4;
    font-size: 1.4em;
    text-align: center;
    padding: 0 2em;
}

/* Responsive */
@media all and (max-width: 991px) {
    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked {
        display: block;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%; height: auto;
}
.embed-container iframe, .embed-container object, .embed-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
